	<header>
		<div class="logo">
			<h1><a href="/" class="text-center" style="text-decoration: none;">Travels</a></h1>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/blog/">Blog</a></li>
				<!-- <li><a href="#">Targets</a></li> -->
				<li><a href="/map/">Map</a></li>
			</ul>
		</nav><!-- end navigation menu -->

		<div class="footer clearfix">
			
			<div class="rights text-center">
				<p class="text-center">Copyright © 2017</p>
				<p><a href="http://abhishekbalam.xyz" style="color:#0ACCA2">abhishekbalam.xyz</a></p>
			</div><!-- end rights -->
		</div ><!-- end footer -->
	</header><!-- end header -->
